.grow { 
	transition: all .2s ease-in-out; 
	
}

.grow:hover { 
	transform: scale(1.1); 
}

.grow:hover .items,
.grow:focus .items {
  display: block;
}

.grow:hover .items2,
.grow:focus .items2 {
  display: block;
}

.textover {
  color: white; /* Good thing we set a fallback color! */
}

.items {
    display: none;
    font: 700 60px 'Dancing Script', cursive !important;
	  color: white;
	  text-shadow: 3px 3px 0px rgba(0,0,0,0.6), 3px 3px 0px rgba(0,0,0,0.6) !important;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 45%;
  	left: 50%;
  	transform: translate(-50%, -50%);
    cursor: pointer;
}

.items2 {
  display: none;
  font: 700 30px 'Dancing Script', cursive !important;
  color: white;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.6), 2px 2px 0px rgba(0,0,0,0.6) !important;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

 @media only screen and (max-width: 900px) {
  .items {
    display: block;
  }
  
  .items2 {
    display: block;
	}
}

